<a href="https://colab.research.google.com/github/Maulik2604/Project---Subset-Selection/blob/main/Subset_Selection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Subset Selection

1. Problem Statement:-
    Find all the subsets from a set of numbers whose sum is zero.

    Constraint: Subset size must be 5

    Set={12, 3, 6, -7, -2, 12, -6, -3, -9, 7, 5, 8,1,11, 9, 4}

In [ ]:
import random as r

In [ ]:
Set         = set([12, 3, 6, -7, -2, 12, -6, -3, -9, 7, 5, 8, -1, -11, 9, 4])
SetSize     = 6
ResultList  = set()
Iterations  = 500

In [ ]:
for i in range(Iterations):
    Chromosome = r.sample(Set,SetSize)
if sum(Chromosome) == 0:
        ResultList.add(tuple(Chromosome))

In [ ]:
for r in ResultList:
	print (r)

print ("\nTotal Sets: ", len(ResultList), "\n")

(6, -9, -3, 5, -6, 7)
(8, -6, 4, 12, -7, -11)
(-11, 5, -7, 8, 6, -1)
(12, 8, -6, 4, -11, -7)
(-1, -11, 6, 3, 9, -6)
(-9, 12, 7, -7, 8, -11)
(5, 8, -7, -6, -9, 9)
(-9, 7, -11, 6, -2, 9)
(12, -1, -2, -6, 6, -9)
(6, -3, 5, 4, -11, -1)
(-2, 8, -1, 9, -11, -3)
(-6, -9, 8, 6, 12, -11)
(3, -6, 6, -9, -2, 8)

Total Sets:  13